<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> 📈 Investimentos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Investimento</ion-title>
    </ion-toolbar>
  </ion-header>

   <ion-alert
    trigger="avaliacao"
    header="Avaliação dos Resultados:"
    message="{{res}}"
    [buttons]="alertButtons"
  >
  </ion-alert>

  <div>
    <ion-item>
      <ion-input
        label="Valor do Investimento:"
        type="number"
        [(ngModel)]="valorInvestimento"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Período (Anos)"
        type="number"
        [(ngModel)]="periodo"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Taxa de Juros Anual (%):"
        type="number"
        [(ngModel)]="retorno"
      ></ion-input>
    </ion-item>
    <ion-button shape="rounded" id="avaliacao"  (click)="calculoInvestimento()"
      >Calcular Investimento</ion-button
    >
  </div>
</ion-content>
