<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Investimento</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>

    <ion-item>
      <ion-input label="Valor do Investimento:" type="number" [(ngModel)]="valorInvestimento"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Período do Investimentos" type="number" [(ngModel)]="periodo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Taxa de Juros Anual (%):" type="number" [(ngModel)]="juros"></ion-input>
    </ion-item>
    <ion-button shape="rounded" id="verificar" (click)="calculoInvestimento()">Calcular Investimento</ion-button>
    <ion-label>Investimento: <strong>R${{valorInvestimentoArredondado}}</strong> </ion-label>
  </div>
</ion-content>