<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> 💰 Empéstimos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Valor de Empéstimos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-alert
    trigger="avaliacao"
    header="Avaliação Automática:"
    message="{{res}}"
    [buttons]="alertButtons"
  >
  </ion-alert>
  <div>
    <ion-item>
      <ion-input
        label="Valor do Empréstimo:"
        type="number"
        [(ngModel)]="valor"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Qtd. Meses:"
        type="number"
        [(ngModel)]="meses"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Taxa de Juros Anual (%):"
        type="number"
        [(ngModel)]="taxa"
      ></ion-input>
    </ion-item>
    <ion-button shape="rounded" id="avaliacao" (click)="calculoParcela()"
      >Calcular Parcela</ion-button
    >
    <ion-label
      >Valor da Parcela: <strong>R${{valorArredondado}}</strong>
    </ion-label>
  </div>
</ion-content>
