<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 3 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

   <ion-alert
    trigger="calcular"
    header="Resultado"
    [message]="mensagem"
    [buttons]="alertButtons"
  ></ion-alert>
    <div>
  <ion-item>
    <ion-label>Renda Líquida: R$ {{ rendaMensal }}</ion-label>
  </ion-item>
  <ion-range min="1000" max="10000" step="100" [(ngModel)]="rendaMensal">
    <ion-label slot="start">1k</ion-label>
    <ion-label slot="end">10k</ion-label>
  </ion-range>

  <ion-item>
    <ion-label position="floating">Moradia</ion-label>
    <ion-input type="number" [(ngModel)]="despesas.moradia"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Alimentação</ion-label>
    <ion-input type="number" [(ngModel)]="despesas.alimentacao"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Transporte</ion-label>
    <ion-input type="number" [(ngModel)]="despesas.transporte"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Lazer</ion-label>
    <ion-input type="number" [(ngModel)]="despesas.lazer"></ion-input>
  </ion-item>

  <ion-button expand="block" id="calcular" (click)="calcular()">Calcular</ion-button>
  </div>
</ion-content>
